html {
	width: 100vw;
	height: 100vh;
}
.tm-header{
	position: sticky;
	z-index: 2;
	top: 0;
	max-width: 1200px;
	margin: 0 auto;
	padding: 70px;
}
body{
	background: #3f403f;
	padding: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

}
hr{
	border: 0;
	border-top: 4px solid yellow;
	margin: 20px 0;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: auto;
	margin-inline-end: auto;
}
.container{
	background-color: #565656;

}

.dav{
	display: flex;
	justify-content:center;
	margin: 0 auto;
	padding: 0 auto;



}
.sudoku{
	margin-right:20px;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid none;
}


.sticker{
	position: absolute;
  position: absolute;
  top: 670px;
  left: 320px;
  border: 1px solid none;
}


.serviceyellow{
	color: yellow;
	font-size: 30px;
}
.available{
	margin-left: 15px;
	color: white;
	font-size: 40px;
}
.servicewhite{
	color: white;
}
.made{
	color: white;
	font-size: 25px;
}
.maden{
	color: white;
	font-size: 25px;
}
.photo1{
	display: flex;
	justify-content: center;
}
.lastes{
	margin: 100px;
	/*width: 1000px;*/
	color: white;
	font-size: 35px;
}
.foot{

	display: flex;
	justify-content: center;
	color: white;
}

.feet{

	font-size: 17px;
	position:absolute;
   bottom:0;
   width:50%;
   height:40px;
   background: grey;
   border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: right;


}

.serviceoffice{
	margin-left: 15px;
}
.made{
	margin-left: 15px;
}
.maden{
	margin-left: 15px;
}